global
    log 127.0.0.1 local0 notice
    user root
    group root
 
defaults
    log global
    retries 2
    timeout connect 3000
    timeout server 5000
    timeout client 5000
 
listen write_nodes
    bind 0.0.0.0:3306
    mode tcp
    option mysql-check user haproxy
    server mysql1 master:3306 check  
listen read_nodes
    bind 0.0.0.0:3307
    mode tcp
    option mysql-check user haproxy
    balance roundrobin
    server mysql2 slave1:3306 check
    server mysql3 slave2:3306 check
    server mysql4 slave3:3306 check
 
listen stats_page
    bind 0.0.0.0:8080
    mode http
    stats enable
    stats uri /stats
    stats realm Strictly\ Private
    stats auth admin:password
